*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(log1.jpg);
	height: 65vh;
	background-size: cover;
	background-position: center;
}
.login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}
.avatar{
	width: 125px;
	height: 127px;
	border-radius: 50%;
	position: absolute;
	top: 16px;
	left: calc(37% - 50px);
}
.form{
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}
.form input{
	font-family: "roboto",sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form2{
	padding-right: 30px;
	margin-left: 20px;
}
.form button{
	font-family: "roboto",sans-serif;
	text-transform: uppercase;
	outline: 0;
	width: 100%;
	color: #ffffff;
	font-size: 14px;
}